shapely
scikit-image==0.17.2
pyclipper
lmdb
tqdm
numpy==1.19.2
visualdl
python-Levenshtein
opencv-contrib-python==4.2.0.32
opencv-python==4.2.0.32
imgaug==0.4.0
albumentations --no-binary imgaug,albumentations